<!DOCTYPE html>
<html>
<head>
    <meta charset='utf8'>
    <title>Challenge flask api</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
</head>
<body>
    <div id='content'>
        <nav id='nav'>
            <ul>
                <a href='/'><li>Home</li></a>
                <a href='/status'><li>Status</li></a>
                <a href='/login'><li>Login</li></a>
                <a href='/predict'><li>Predict</li></a>
            </ul>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>