<!DOCTYPE html>
<html>
<head>
    <meta charset='utf8'>
    <title>Challenge flask api</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}">
    <style>
        input[type="radio"] {
            display: none;
        }
    </style>
</head>
<body>
    <div id='content'>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>

<script type='text/javascript'>
//    for(var i = 0; i < 2; i++) {
//        img[i].addEventListener('change', function() {
//            form.submit();
//        })
//    }
    console.log(form.innerHTML);
</script>
</html>