{% extends "layout.html" %}
{% block content %}

<div id="message">
    {{message}}
</div>
<div id="form">
    <form id="choice" method="POST" onchange="this.submit()">
        <div id="item0">
            <input type="radio" name="foule" value="foule" id="foule">
            <label for="foule">
                <img src="{{ url_for('static', filename='image/animation2.jpeg') }}">
            </label>
        </div>
        <div id="item1">
            <input type="radio" name="solo" value="solo" id="solo">
            <label for="solo">
                <img src="{{ url_for('static',  filename='image/relaxation2.jpg') }}">
            </label>
        </div>
    </form>
</div>
{% endblock %}