{% extends "layout.html" %}
{% block content %}

<div id="message">
    {{message}}
</div>
<div id="form">
    <form id="choice" method="POST" onchange="this.submit();">
        <div id="item0">
            <input type="radio" id="interior" name="interior" value="interior">
            <label for="interior">
                <img src="{{ url_for('static', filename='image/interior.jpg') }}">
            </label>
        </div>
        <div id="item1">
            <input type="radio" id="exterior" name="exterior" value="exterior">
            <label for="exterior">
                <img src="{{ url_for('static',  filename='image/exterior.jpg') }}">
            </label>
        </div>
    </form>
</div>

{% endblock %}