{% extends "layout.html" %}
{% block content %}

<h3>
    {{message}}
</h3>

<p>In user_pref_to_do.html</p>
<form id="2" method="POST" onchange="this.submit()">
    <!--
     <input type="radio" value="v0" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_0">
     <input type="image" value="v1" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_1">
      -->
     <input type="radio" name="face2" value="choix3"><label for="choix3" checked="true">
         <img src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200">
     </label>
     <input type="radio" name="plane2t" value="choix4"><label for="choix4" checked="true">
         <img src="{{ url_for('static',  filename='image/planet.png') }}" width="200" height="200">
     </label>
</form>

{% endblock %}