{% extends "layout.html" %}
{% block content %}

<h3>
    {{message}}
</h3>
<form action ="" id="2" method="POST" onchange="this.submit()">
    <!--
     <input type="radio" value="v0" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_0">
     <input type="image" value="v1" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_1">
      -->
     <input type="radio" name="face" value="choix5" id="choix5_loc"><label for="choix5" checked="true">
         <img src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200">
     </label>
     <input type="radio" name="planet" value="choix6" id="choix6_loc"><label for="choix6" checked="true">
         <img src="{{ url_for('static',  filename='image/planet.png') }}" width="200" height="200">
     </label>
 </form>
{% endblock %}