{% extends "layout.html" %}
{% block content %}

<h3>
    {{message}}
</h3>

<form action ="" id="1" method="POST" onchange="this.submit();">
   <!--
    <input type="radio" value="v0" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_0">
    <input type="image" value="v1" class="face" name="face" src="{{ url_for('static', filename='image/facebook.png') }}" width="200" height="200" alt="choix_1">
    -->
    <input type="radio" name="sport" value="sport" id="sport"><label for="sport" checked="true">
        <img src="{{ url_for('static', filename='image/sport.jpg') }}" width="200" height="200">
    </label>
    <input type="radio" name="musee" value="musee" id="musee"><label for="musee" checked="true">
        <img src="{{ url_for('static',  filename='image/musee.jpg') }}" width="200" height="200">
    </label>
</form>

{% endblock %}
