{% extends "layout.html" %}
{% block content %}

<div id="message">
    {{message}}
</div>
<div id="form">
    <form id="choice" method="POST" onchange="this.submit();">
        <div id="item0">
            <input type="radio" name="sport" value="sport" id="sport">
            <label for="sport">
                <img src="{{ url_for('static', filename='image/sport2.jpg') }}">
            </label>
        </div>
        <div id="item1">
            <input type="radio" name="musee" value="musee" id="musee">
            <label for="musee">
                <img src="{{ url_for('static',  filename='image/musee.jpg') }}">
            </label>
        </div>
    </form>
</div>

{% endblock %}
